In [2]:
#importating liabraries
import pandas as pd
import numpy as np

In [3]:
#loading data
df_ecommerce = pd.read_csv("data/messy_ecommerce_delivery_data.csv")

In [4]:
#understaning the data
df_ecommerce.info()
df_ecommerce.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Order ID                 101000 non-null  object
 1   Customer ID              101000 non-null  object
 2   Platform                 95898 non-null   object
 3   Delivery Time (Minutes)  95837 non-null   object
 4   Product Category         95980 non-null   object
 5   Order Value (INR)        96064 non-null   object
 6   Customer Feedback        101000 non-null  object
 7   Service Rating           95858 non-null   float64
 8   Delivery Delay           101000 non-null  object
 9   Refund Requested         101000 non-null  object
 10  Order Date               101000 non-null  object
dtypes: float64(1), object(10)
memory usage: 8.5+ MB

,Order ID,Customer ID,Platform,Delivery Time (Minutes),Product Category,Order Value (INR),Customer Feedback,Service Rating,Delivery Delay,Refund Requested,Order Date
0,ORD092874,CUST4456,JioMart,22.0,Snacks,458.0,Good quality products.,4.0,No,No,2024-01-12 12:25:08
1,ORD052015,CUST2733,Swiggy Instamart,38.0,Snacks,467.0,Wrong item delivered.,1.0,No,Yes,2024-03-19 09:42:45
2,ORD045860,CUST7086,JioMart,26.0,Fruits & Vegetables,NaN,"Horrible experience, never ordering again.",1.0,No,Yes,2024-05-19 02:17:35
3,ORD024080,CUST7340,Blinkit,27.0,Dairy,277.0,Items missing from order.,2.0,No,Yes,2024-01-30 19:36:32
4,ORD041229,CUST8123,JioMart,41.0,Grocery,903.0,Excellent experience!,5.0,Yes,No,2024-02-14 00:12:13

## From Above 
* platform column have null value
* order date column type is object
* delivery minute have null and type is object
* product category have null values
* Order Value (INR) have null values and type is object
* service rating have null values

In [5]:
# checcking order id is unique
df_ecommerce[df_ecommerce["Order ID"].duplicated(keep = False)]

,Order ID,Customer ID,Platform,Delivery Time (Minutes),Product Category,Order Value (INR),Customer Feedback,Service Rating,Delivery Delay,Refund Requested,Order Date
8,ORD050283,CUST9091,Blinkit,16.0,NaN,601.0,Good quality products.,4.0,No,No,2024-04-23 12:20:02
14,ORD069588,CUST6937,Blinkit,43.0,Dairy,208.0,Packaging could be better.,3.0,Yes,No,2024-01-01 16:05:39
19,ORD000884,CUST6654,BLINKIT,29.0,Fruits & Vegetables,291.0,"Easy to order, loved it!",5.0,No,N,2024-03-28 18:05:53
25,ORD004233,CUST7358,NaN,29.0,Beverages,523.0,"Easy to order, loved it!",5.0,No,No,2024-02-09 16:49:10
58,ORD000227,CUST3724,Swiggy Instamart,35.0,Snacks,76.0,"Easy to order, loved it!",5.0,No,N,2024-01-30 19:04:53
...,...,...,...,...,...,...,...,...,...,...,...
100408,ORD083043,CUST1479,Swiggy Instamart,23.0,Personal Care,371.0,Wrong item delivered.,1.0,No,Yes,2024-05-03 06:45:48
100437,ORD066150,CUST9997,Swiggy Instamart,27.0 mins,Fruits & Vegetables,677.0,Packaging could be better.,3.0,No,no,2024-01-16 20:06:33
100527,ORD026974,CUST2734,Swiggy Instamart,31.0,Beverages,122.0,"Horrible experience, never ordering again.",1.0,No,True,2024-04-20 17:50:00
100616,ORD034574,CUST7573,JioMart,25.0,NaN,441.0,"Fast delivery, great service!",5.0,No,N,2024-05-30 09:59:05
100736,ORD053084,CUST1061,SWIGGY INSTAMART,NaN,Snacks,398.0,Packaging could be better.,3.0,No,No,2024-05-06 01:23:42

* There is 2100 duplicate order id

In [6]:
#removing duplicated id 
df_ecommerce = df_ecommerce.drop_duplicates( subset = "Order ID", keep = False)

In [7]:
# rechecking the duplicates in order id
df_ecommerce [df_ecommerce["Order ID"].duplicated(keep = False)]

Empty DataFrame
Columns: [Order ID, Customer ID, Platform, Delivery Time (Minutes), Product Category, Order Value (INR), Customer Feedback, Service Rating, Delivery Delay, Refund Requested, Order Date]
Index: []

In [8]:
#checking nulls in customer id
df_ecommerce[df_ecommerce["Customer ID"].isnull()]

Empty DataFrame
Columns: [Order ID, Customer ID, Platform, Delivery Time (Minutes), Product Category, Order Value (INR), Customer Feedback, Service Rating, Delivery Delay, Refund Requested, Order Date]
Index: []

In [9]:
# checking unique values in platform
df_ecommerce["Platform"].unique()

array(['JioMart', 'Swiggy Instamart ', 'Blinkit', 'Swiggy Instamart',
       'Blinkt', nan, 'jiomart', 'JIOMART', 'Jio Mart', 'JioMart ',
       'Blinkit ', 'BLINKIT', 'blinkit', 'swiggy instamart',
       'SWIGGY INSTAMART'], dtype=object)

In [10]:
# converting all in lower case and removing extra spaces
df_ecommerce["Platform"] = df_ecommerce["Platform"].str.strip().str.lower()

In [11]:
df_ecommerce["Platform"].unique()

array(['jiomart', 'swiggy instamart', 'blinkit', 'blinkt', nan,
       'jio mart'], dtype=object)

In [12]:
# changing the incorrect spelling
df_ecommerce["Platform"] = df_ecommerce["Platform"].replace({
    "jio mart" : "jiomart",
    "blinkt" : "blinkit"
})

In [13]:
# rechecking
df_ecommerce["Platform"].unique()

array(['jiomart', 'swiggy instamart', 'blinkit', nan], dtype=object)

In [14]:
# filling nan value as n/a
df_ecommerce["Platform"] = df_ecommerce["Platform"].fillna("n/a")

In [15]:
df_ecommerce["Platform"].isnull().sum()

np.int64(0)

In [16]:
#making first letter capital
df_ecommerce["Platform"] = df_ecommerce["Platform"].str.capitalize()

In [18]:
#understanding the date column
df_ecommerce["Order Date"].head()

0    2024-01-12 12:25:08
1    2024-03-19 09:42:45
2    2024-05-19 02:17:35
3    2024-01-30 19:36:32
4    2024-02-14 00:12:13
Name: Order Date, dtype: object

In [20]:
# removing the time from the order date
#converting order date to string
df_ecommerce["Order Date & Time"] = df_ecommerce["Order Date"].astype(str)

#spliting date and time 
df_ecommerce[["Order Date", "Order Time"]] = df_ecommerce["Order Date"].str.split(" ", n=1, expand=True)

In [22]:
df_ecommerce.head()

,Order ID,Customer ID,Platform,Delivery Time (Minutes),Product Category,Order Value (INR),Customer Feedback,Service Rating,Delivery Delay,Refund Requested,Order Date,Order Date & Time,Order Time
0,ORD092874,CUST4456,Jiomart,22.0,Snacks,458.0,Good quality products.,4.0,No,No,2024-01-12,2024-01-12 12:25:08,12:25:08
1,ORD052015,CUST2733,Swiggy instamart,38.0,Snacks,467.0,Wrong item delivered.,1.0,No,Yes,2024-03-19,2024-03-19 09:42:45,09:42:45
2,ORD045860,CUST7086,Jiomart,26.0,Fruits & Vegetables,NaN,"Horrible experience, never ordering again.",1.0,No,Yes,2024-05-19,2024-05-19 02:17:35,02:17:35
3,ORD024080,CUST7340,Blinkit,27.0,Dairy,277.0,Items missing from order.,2.0,No,Yes,2024-01-30,2024-01-30 19:36:32,19:36:32
4,ORD041229,CUST8123,Jiomart,41.0,Grocery,903.0,Excellent experience!,5.0,Yes,No,2024-02-14,2024-02-14 00:12:13,00:12:13

In [23]:
#changing date to date type
df_ecommerce["Order Date"] = pd.to_datetime(df_ecommerce["Order Date"], format = "mixed", errors = "coerce")

In [25]:
#checking the type of date column
df_ecommerce["Order Date"].info()

<class 'pandas.core.series.Series'>
Index: 98900 entries, 0 to 100999
Series name: Order Date
Non-Null Count  Dtype
--------------  -----
98900 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 1.5 MB

In [26]:
#Droping the order time and order date & time column
df_ecommerce.drop(columns = ["Order Time", "Order Date & Time"], inplace = True)

In [27]:
df_ecommerce.head()

,Order ID,Customer ID,Platform,Delivery Time (Minutes),Product Category,Order Value (INR),Customer Feedback,Service Rating,Delivery Delay,Refund Requested,Order Date
0,ORD092874,CUST4456,Jiomart,22.0,Snacks,458.0,Good quality products.,4.0,No,No,2024-01-12
1,ORD052015,CUST2733,Swiggy instamart,38.0,Snacks,467.0,Wrong item delivered.,1.0,No,Yes,2024-03-19
2,ORD045860,CUST7086,Jiomart,26.0,Fruits & Vegetables,NaN,"Horrible experience, never ordering again.",1.0,No,Yes,2024-05-19
3,ORD024080,CUST7340,Blinkit,27.0,Dairy,277.0,Items missing from order.,2.0,No,Yes,2024-01-30
4,ORD041229,CUST8123,Jiomart,41.0,Grocery,903.0,Excellent experience!,5.0,Yes,No,2024-02-14

In [28]:
#understanding delivery time column
df_ecommerce["Delivery Time (Minutes)"].info()
df_ecommerce["Delivery Time (Minutes)"].head()

<class 'pandas.core.series.Series'>
Index: 98900 entries, 0 to 100999
Series name: Delivery Time (Minutes)
Non-Null Count  Dtype
--------------  -----
93840 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

0    22.0
1    38.0
2    26.0
3    27.0
4    41.0
Name: Delivery Time (Minutes), dtype: object

In [29]:
df_ecommerce["Delivery Time (Minutes)"].isnull().sum()

np.int64(5060)

In [30]:
# taking only number 
df_ecommerce["Delivery Time (Minutes)"] = df_ecommerce["Delivery Time (Minutes)"].astype(str).str.extract(r'(\d+\.?\d*)')[0]

In [31]:
# converting into numeric
df_ecommerce["Delivery Time (Minutes)"] = pd.to_numeric(df_ecommerce["Delivery Time (Minutes)"], errors = "coerce")

In [32]:
# filling null values usinng median
df_ecommerce["Delivery Time (Minutes)"].fillna(df_ecommerce["Delivery Time (Minutes)"].median(), inplace = True)

C:\Users\sharf\AppData\Local\Temp\ipykernel_11740\171858364.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_ecommerce["Delivery Time (Minutes)"].fillna(df_ecommerce["Delivery Time (Minutes)"].median(), inplace = True)

In [33]:
df_ecommerce["Delivery Time (Minutes)"].describe()

count    98900.000000
mean        29.575096
std          9.601346
min          5.000000
25%         23.000000
50%         30.000000
75%         36.000000
max         76.000000
Name: Delivery Time (Minutes), dtype: float64

In [34]:
#checking the unique value in prdocut column
df_ecommerce["Product Category"].unique()

array([' Snacks ', 'Snacks', ' Fruits & Vegetables ', 'Dairy', 'Grocery',
       ' Personal Care ', 'Beverages', 'Personal Care',
       'Fruits & Vegetables', nan, ' Beverages ', ' Grocery ', ' Dairy '],
      dtype=object)

In [35]:
#converting product category to lower case and removing extra space
df_ecommerce["Product Category"] = df_ecommerce["Product Category"].str.strip().str.lower()

In [36]:
df_ecommerce["Product Category"].unique()

array(['snacks', 'fruits & vegetables', 'dairy', 'grocery',
       'personal care', 'beverages', nan], dtype=object)

In [37]:
# filling null value 
df_ecommerce["Product Category"].fillna("n/a", inplace = True)

C:\Users\sharf\AppData\Local\Temp\ipykernel_11740\753309798.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_ecommerce["Product Category"].fillna("n/a", inplace = True)

In [38]:
#checking null value
df_ecommerce["Product Category"].isnull().sum()

np.int64(0)

In [39]:
# making first lettter capital
df_ecommerce["Product Category"] = df_ecommerce["Product Category"].str.capitalize()

In [40]:
# understanding order value column 
df_ecommerce["Order Value (INR)"].info()
df_ecommerce["Order Value (INR)"].head()

<class 'pandas.core.series.Series'>
Index: 98900 entries, 0 to 100999
Series name: Order Value (INR)
Non-Null Count  Dtype
--------------  -----
94066 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

0    458.0
1    467.0
2      NaN
3    277.0
4    903.0
Name: Order Value (INR), dtype: object

In [41]:
#extracting the number in correct order
df_ecommerce["Order Value (INR)"] = df_ecommerce["Order Value (INR)"].astype(str).str.extract(r'(\d+\.?\d*)')[0].astype(float)

In [42]:
# detecting outlier
Q1 = df_ecommerce['Order Value (INR)'].quantile(0.25)
Q3 = df_ecommerce['Order Value (INR)'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df_ecommerce[
    (df_ecommerce['Order Value (INR)'] < lower_bound) |
    (df_ecommerce['Order Value (INR)'] > upper_bound)
]

outliers

,Order ID,Customer ID,Platform,Delivery Time (Minutes),Product Category,Order Value (INR),Customer Feedback,Service Rating,Delivery Delay,Refund Requested,Order Date
7,ORD050310,CUST3901,Blinkit,27.0,Personal care,1920.0,Good quality products.,4.0,No,No,2024-04-09
28,ORD081281,CUST6140,Jiomart,14.0,Snacks,182000.0,Very satisfied with the service.,5.0,No,No,2024-02-20
56,ORD077725,CUST8568,Blinkit,34.0,Beverages,425000.0,"Horrible experience, never ordering again.",1.0,No,Yes,2024-04-01
73,ORD058475,CUST5849,Swiggy instamart,20.0,Personal care,1855.0,"Fast delivery, great service!",5.0,No,No,2024-05-21
87,ORD067615,CUST6949,N/a,36.0,Personal care,1810.0,Quick and reliable!,5.0,No,No,2024-01-14
...,...,...,...,...,...,...,...,...,...,...,...
100906,ORD039100,CUST4083,Swiggy instamart,43.0,Beverages,748000.0,"Horrible experience, never ordering again.",1.0,Yes,Yes,2024-05-02
100910,ORD086808,CUST5387,Jiomart,26.0,Personal care,1771.0,Wrong item delivered.,1.0,No,Yes,2024-05-25
100927,ORD037066,CUST6537,Jiomart,35.0,Grocery,1177000.0,Good quality products.,4.0,No,No,2024-05-30
100951,ORD043002,CUST6017,Blinkit,18.0,Beverages,699000.0,"Fast delivery, great service!",5.0,No,No,2024-05-22
100998,ORD000861,CUST8905,Swiggy instamart,28.0,Personal care,1929.0,"Not fresh, disappointed.",2.0,No,Yes,2024-05-22

In [43]:
#fixing the outlier
median = df_ecommerce["Order Value (INR)"].median()

df_ecommerce.loc[
    df_ecommerce["Order Value (INR)"] > upper_bound,
    "Order Value (INR)"
] = median

In [44]:
df_ecommerce["Order Value (INR)"].describe()

count    94066.000000
mean       536.929358
std        336.397217
min         50.000000
25%        284.000000
50%        484.000000
75%        702.000000
max       1524.000000
Name: Order Value (INR), dtype: float64

In [45]:
df_ecommerce["Order Value (INR)"].head()

0    458.0
1    467.0
2      NaN
3    277.0
4    903.0
Name: Order Value (INR), dtype: float64

In [46]:
#filling null value using median
df_ecommerce["Order Value (INR)"] = df_ecommerce["Order Value (INR)"].fillna(df_ecommerce["Order Value (INR)"].median())

In [47]:
df_ecommerce["Order Value (INR)"].isnull().sum()

np.int64(0)

In [48]:
#undersatnding the customer feedback
df_ecommerce["Customer Feedback"].unique()

array(['Good quality products.', 'Wrong item delivered.',
       'Horrible experience, never ordering again.',
       'Items missing from order.', 'Excellent experience!',
       'Fast delivery, great service!', 'Packaging could be better.',
       'Easy to order, loved it!', 'Delivery person was rude.',
       'Quick and reliable!', 'Very satisfied with the service.',
       'Very late delivery, not happy.', 'Not fresh, disappointed.'],
      dtype=object)

* Customer feedback is good

In [49]:
# removing extra space
df_ecommerce["Customer Feedback"] = df_ecommerce["Customer Feedback"].str.strip()

In [50]:
#understanding service rating
df_ecommerce["Service Rating"].info()
df_ecommerce["Service Rating"].head()

<class 'pandas.core.series.Series'>
Index: 98900 entries, 0 to 100999
Series name: Service Rating
Non-Null Count  Dtype
--------------  -----
93855 non-null  float64
dtypes: float64(1)
memory usage: 1.5 MB

0    4.0
1    1.0
2    1.0
3    2.0
4    5.0
Name: Service Rating, dtype: float64

In [51]:
df_ecommerce["Service Rating"].isnull().sum()

np.int64(5045)

In [52]:
# filling null value using median
df_ecommerce["Service Rating"] = df_ecommerce["Service Rating"].fillna(df_ecommerce["Service Rating"].median())

In [53]:
df_ecommerce["Service Rating"].isnull().sum()

np.int64(0)

In [54]:
#checking the delivery delay column
df_ecommerce["Delivery Delay"].unique()

array(['No', 'Yes'], dtype=object)

In [55]:
#checking the null value
df_ecommerce["Delivery Delay"].isnull().sum()

np.int64(0)

* delivery delay column is good

In [56]:
#checking the refund requested
df_ecommerce["Refund Requested"].unique()

array(['No', 'Yes', 'yes', 'Y', 'no', 'False', 'N', 'True'], dtype=object)

In [57]:
#fixing the refund requested column 
df_ecommerce["Refund Requested"] = df_ecommerce["Refund Requested"].str.lower()

In [58]:
df_ecommerce["Refund Requested"] = df_ecommerce["Refund Requested"].replace({
    "y" : "yes",
    "n" : "no",
    "false" : "no",
    "true" : "yes"
 })

In [59]:
df_ecommerce["Refund Requested"].unique()

array(['no', 'yes'], dtype=object)

In [60]:
# making the first letter capital
df_ecommerce["Refund Requested"] = df_ecommerce["Refund Requested"].str.capitalize()

In [61]:
df_ecommerce.head()

,Order ID,Customer ID,Platform,Delivery Time (Minutes),Product Category,Order Value (INR),Customer Feedback,Service Rating,Delivery Delay,Refund Requested,Order Date
0,ORD092874,CUST4456,Jiomart,22.0,Snacks,458.0,Good quality products.,4.0,No,No,2024-01-12
1,ORD052015,CUST2733,Swiggy instamart,38.0,Snacks,467.0,Wrong item delivered.,1.0,No,Yes,2024-03-19
2,ORD045860,CUST7086,Jiomart,26.0,Fruits & vegetables,484.0,"Horrible experience, never ordering again.",1.0,No,Yes,2024-05-19
3,ORD024080,CUST7340,Blinkit,27.0,Dairy,277.0,Items missing from order.,2.0,No,Yes,2024-01-30
4,ORD041229,CUST8123,Jiomart,41.0,Grocery,903.0,Excellent experience!,5.0,Yes,No,2024-02-14

## saving the file in csv

In [65]:
df_ecommerce.to_csv("clean_ecommerce_data.csv", index = False)